<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/static/rect.css">
</head>
<body>
  <!-- <div class="shape"></div> -->
  <div class="grid-container">
  <div class="Network-B network">
    <h1>Network B</h1>
  </div>
  <div class="Z1B">
    <div class="shape shape2">
      <br>
      <h2> Zone 1 </h2>
      {% if z1b %}
      <div class="indicator"></div>
      {% endif %}
    </div>
  </div>
  <div class="Z2B">
    <div class="shape shape2">
      <br>
      <h2> Zone 2 </h2>
      {% if z2b %}
      <div class="indicator"></div>
      {% endif %}
    </div>
  </div>
  <div class="Z3B">
    <div class="shape shape2">
      <br>
      <h2> Zone 3 </h2>
      {% if z3b %}
      <div class="indicator"></div>
      {% endif %}
    </div>
  </div>


  <div class="Network-A network">
    <h1>Network A</h1>
  </div>
  <div class="Z1A">
    <div class="shape shape3">
      <br>
      <h2> Zone 1 </h2>
      {% if z1a %}
      <div class="indicator"></div>
      {% endif %}
    </div>
  </div>


  <div class="Z2A">
    <div class="shape shape3">
      <br>
      <h2> Zone 2 </h2>
      {% if z2a %}
      <div class="indicator"></div>
      {% endif %}
    </div>
  </div>

  <div class="Z3A">
    <div class="shape shape3">
      <br>
      <h2> Zone 3 </h2>
      {% if z3a %}
      <div class="indicator"></div>
      {% endif %}
    </div>
  </div>

</div>
  <!-- <div class="shape shape2"></div> -->
  <!-- <div class="shape shape2"></div> -->
  <!-- <div class="shape shape3"></div> -->
</body>
</html>
